* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   color: #555;
   /* font-family: Open Sans; */
   font-family: sans-serif;
   position: relative;
   height: 100vh;
   font-weight: 400;
}
.top {
   height: 40vh;
   /* background-image: url(./background3.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center; */
   position: relative;
}
.budget {
   position: absolute;
   width: 350px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%); /* what does this do */
   color: black;
}
.budget-title {
   font-size: 18px;
   text-align: center;
   margin-bottom: 10px;
}
.budget-value {
   font-size: 40px;
   text-align: center;
   margin-bottom: 25px;
   letter-spacing: 2px;
}
.budget-income, .budget-expenses {
   padding: 8px;
   text-align: center;
}
.budget-income {
   background-color: #28B9B5;
}
.budget-expenses {
   background-color: rgb(206, 12, 6);
   color: white;
}

.budget-income-text, .budget-expenses-text {
   
}
.budget-income-percentage, .budget-expenses-percentage {
   font-size: 11px;
   padding-top: 10px;
}
.budget-expenses-percentage {
   
}

.add {
   padding: 14px;
   border-bottom: 2px solid #e7e7e7;
   border-top: 2px solid #e7e7e7;
   background-color: #f7f7f7;
}
.add-container {
   /* margin: 0 auto; */
   text-align: center;
}
.add-type {
   width: 70px;
   height: 40px;
   border: 1px solid #e7e7e7;
   font-size: 24px;
   /* background-color: #fff; */
   margin-right: 10px;
}
.add-description, .add-value {
   border: 1px solid #e7e7e7;
   /* background-color: #fff; */
   font-size: 14px;
   padding: 12px 15px;
   margin-right: 10px;
}
.add-description {
   width: 400px;
}
.add-value {
   width: 100px;
}
.add-btn {
   
}