* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   /* color: #555; */
   font-family: "Verdana", sans-serif;
   position: relative;
}

.top {
   height: 60vh;
   background-image: url(./background1.jpg);
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 15px;
}
.budget {
   position: relative;
   max-width: 400px;
   background: rgba(255, 255, 255, .4);
   /* box-shadow: 0 20px 30px rgba(0, 0, 0, .7); */
   padding: 15px;
}
.budget-title {
   font-size: 34px;
   text-align: center;
   margin-bottom: 15px;
}
.budget-value {
   font-size: 40px;
   text-align: center;
   margin-bottom: 25px;
   letter-spacing: 4px;
}
.budget-income {
   margin-bottom: 20px;
}
.budget-income, .budget-expenses {
   font-size: 22px;
   text-align: center;
   padding: 5px;
}
.budget-income-text, .budget-expenses-text {
   text-transform: uppercase;
   font-weight: 500;
   margin-bottom: 8px;
   
}
.budget-income-value, .budget-expenses-value {
   font-size: 18px;
}

/* Input Animation Styles */
.add {
   border-bottom: 2px solid #e7e7e7;
   border-top: 2px solid #e7e7e7;
   background-color: #f7f7f7;
}
.form {
   /* width: 50%; */
   position: relative;
   height: 50px;
   overflow: hidden;
   /* background: blue; */
}
.form input {
   width: 100%;
   height: 100%;
   color: #595f6e;
   padding-top: 25px;
   border: none;
   outline: none; 
   
}

.form label {
   position: absolute;
   bottom: 0px;
   left: 0%;
   width: 100%;
   height: 100%;
   /* background: blue; */
   pointer-events: none;
   border-bottom: 1px solid black;
   
}
.form label::after {
   content: "";
   position: absolute;
   left: 0px;
   bottom: -1px;
   height: 100%;
   width: 100%;
   border-bottom: 3px solid#2f3640;
   transform: translateX(-100%);
   transition: transform 0.3s ease;

}
.label-text {
   position: absolute;
   bottom: 5px;
   left: 0px;
   transition: all 0.3s ease;
}

.form input:focus + .label-name .label-text, .form input:not(:placeholder-shown) + .label-name .label-text {
   transform: translateY(-150%);
   font-size: 14px;
   color: #5fa8d3;
   color: #2f3640;
}
.form input:focus + .label-name::after, .form input:not(:placeholder-shown) + .label-name::after {
   transform: translateX(0%);
}
/* Custom SElect Box */
.select-box {
   display: flex;
   width: 200px;
   flex-direction: column;
}
.select-box .options-container {
   background: #2f3640;
   color: #f5f6fa;
   max-height: 0;
   width: 100%;
   opacity: 0;
   transition: all 0.4s;
   border-radius: 8px;
   overflow: hidden;
   order: 1;
}
.selected {
   background: #2f3640;
   border-radius: 8px;
   margin-bottom: 8px;
   color: #f5f6fa;
   position: relative;

   order: 0;
}
.selected::after {
   content: "";
   background: url("/arrow-down.svg");
   background-size: contain;
   background-repeat: no-repeat;

   position: absolute;
   height: 100%;
   width: 32px;
   right: 10px;
   top: 5px;
   transition: all 0.4s; 
}
.select-box .options-container.active {
   max-height: 240px;
   opacity: 1;
   overflow-y: scroll;
}
.select-box .options-container.active + .selected::after {
   transform: rotateX(180deg);
   top: -6px;
}
.select-box .options-container::-webkit-scrollbar {
   width: 8px;
   background: #0d141f;
   border-radius: 0 8px 8px 0;
}
.select-box .options-container::-webkit-scrollbar-thumb {
   background: #525861;
   border-radius: 0 8px 8px 0;
}
.select-box .option, .selected {
   padding: 12px 24px;
   cursor: pointer;
}
.select-box .option:hover {
   background: #414b57;
}
.select-box label {
   cursor: pointer;
}
.select-box .option .radio {
   display: none;
}

/* .add {
   height: 150px;
} */
.add-container {
   width: 600px;
   height: 160px; /* so custom select box dont move stop around when expanding */
   margin: 0 auto;
   display: flex;
   justify-content: space-around;
   position: relative;
   /* background-color: darkgrey; */
}
.add-container .select-box {
   flex-basis: 37%;
}
.add-container .form {
   flex-basis: 35%;
}
.add-container .small-width {
   flex-basis: 15%; /* if I comment this out justify-content: x doesnt work */
}
/* flex-basis: A% is from the parent element width */
.add-container button {
   position: absolute;
   right: 10px;
   bottom: 15px;
   top: 90px;
   width: 100px;
   font-size: 22px;
}


.add-type {
   width: 70px;
   height: 40px;
   border: 1px solid #e7e7e7;
   font-size: 24px;
   /* background-color: #fff; */
   margin-right: 10px;
}
.add-description, .add-value {
   border: 1px solid #e7e7e7;
   /* background-color: #fff; */
   font-size: 14px;
   padding: 12px 15px;
   /* margin-right: 10px; */
}
.add-description {
   width: 400px;
}
.add-value {
   width: 100px;
}
.add-btn {
   border: none;
   border-radius: 12px;
   background: #2f3640;
   padding: 12px 18px;
   color: #fff;
   text-transform: uppercase;
   cursor: pointer;
}
.add-btn:hover {
   background: #5e6974;
}
/* .add-btn:active {
   background:  #0c3d92;
} */
.add-type:focus, .add-description:focus, .add-value:focus {
   outline: none;
   /* border: 2px solid #28B9B5; */
   /* border: 1px solid #1056cf; */
}



/* Lists */
.container {
   width: 1000px;
   margin: 50px auto;
   /* Add max-width later */
   display: flex;
   justify-content: space-around;
}
.container h2 {
   text-align: center;
   margin-bottom: 20px;
}
.container > div {
   flex: 1;
}
/* List item */
.item {
   display: flex;
   justify-content: space-around;
   padding: 13px;
   border-bottom: 1px solid #e7e7e7;
}
.item:first-child {
   border-top: 1px solid #e7e7e7;
}
.item:nth-child(even) {
   background-color: #f7f7f7;
}

/* Button hover effect */
.item-delete-btn {
   background: #f1f1f1;
   border: none;
   /* margin: 20px; */
   padding: 6px;
   width: 100px;
   /* font-family: "montserrat", sans-serif; */
   text-transform: uppercase;
   border-radius: 4px;
   cursor: pointer;
   color: #fff;
   background-size: 200%;
   transition: 0.6s;
   background-image: linear-gradient(to left,#FBA2A2,#DA3333,#FBA2A2);
}
.item-delete-btn:hover {
   background-position: right;
}

/* Fix layout after calendar was added */
.add {
   display: flex;
   justify-content: center;
}
.add .vanilla-calendar {
   margin: 0;
   margin-bottom: 10px;
}
.add .add-container {
   margin: 0;
}